
<h1>Pages</h1>
<h5>Dashboard/Pages</h5>

<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
    <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
  </svg>
 
<table align="right" >
    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()"></div>
    <tr>
        <th>
        <select>
      <option>Page Title</option> </select>
    </th>
    
    
      <th>
        <select>
      <option>Category</option></select>
    </th>


    &nbsp;<th>
         <select>
            <option>Author</option>
         </select>
        </th>
    </tr>
   
    <div id="checkboxes">

        <label for="one">
      <td><input type="checkbox" id="one" /><a href=""  style="text-decoration:none;">Sample Page One</a></td>
      <td>Category one</td>
      <td>John Wick</td>
   <!---- </tr>-->
      <!--</label>-->

        <label for="two">
      <td><input type="checkbox" id="two" /><a href=""  style="text-decoration:none;">Sample Page Two</a></td>
      <td>Category Two</td>
      <td>Vicky Nash</td>
    <!--</tr>-->
    
        <label for="three">
        <td><input type="checkbox" id="three" /><a href=""  style="text-decoration:none;">Sample Page Three</a></td>
        <td>Category one</td>
        <td>Jenni Lora</td>
     <!--</tr>-->
      
        <label for="four">
        <td><input type="checkbox" id="four" /><a href=""  style="text-decoration:none;">Sample Page Four</a></td>
        <td>Category Three</td>
        <td>Haley May </td>
      <!--</tr>-->
      
        <label for="five">
        <td><input type="checkbox" id="five" /><a href=""  style="text-decoration:none;">Sample Page Five</a></td>
        <td>Category Two</td>
        <td>Austen Paige</td>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    
      <!--</tr>-->
    <!--</div>-->
  <!--</table>-->
  