<html>
  <body>
    <h1 align="center">DCX CMS</h1>
      <form>
         
          <label for="email"></label>
          <input type="text" id="email" name="email"placeholder="Enter your email-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" size="20"required><br><br>
          <label for="password"></label>
          <input type="password" id="password" name="password"placeholder="Enter your Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br><br>
         
         
          <button class="btn" type="submit">Register</button>
          
        </form>
  </body>
</html>

