
  <div class="topnav">
    <a class="active" href="">DCX CMS</a>
    <a routerLink="./Dashboard">Dashboard</a>
    <a routerLink="./Pages">Pages</a>
    <a routerLink="./Categories">Categories</a>
    <a routerLink="./User">Users</a>
    <div class="sidenav">
      <a href="">My Account</a>
      <a routerLink="./Login">Login</a>
    </div>
    <!--<input type="text" placeholder="Search..">-->
    <!--<input class="button" type="button" value="input button">-->
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button class="button" type="submit">Submit</button>
    </form>
   
   
    <!--<button class="button" type="submit">Submit</button>-->
  </div>
  