table{
    position:absolute;
    top: 160px;
    right: 100px;
    border-radius: 0%;
    width: 300px;
}
td:nth-child(odd) {
    background-color: #D6EEEE;
  }
  td:nth-child(even) {
    background-color: #D6EEEE;
  }
table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 800px;
  }
  
  th {
    background-color: #4287f5;
    color: white;
  }
  
  th,
  td {
    width: 400px;
    text-align: center;
    border: 1px solid white;
    padding: 0px;
  }
  
 table a:hover{
  
    padding-inline-end: 10px;
    background-color: rgb(19, 127, 210);
    color:azure
}
.table a{
    color: black;
}
h1{
    position:absolute;
    top: 90px;
    right: 610px;
    color: rgb(13, 136, 174);
  }
  svg{
    position: absolute;
    top: 100px;
    right: 870px;
    color:rgb(13, 136, 174); 
    size: 100px;
  }
  h5{
    position:absolute;
    top: 150px;
    right: 500px;
    color: rgb(13, 136, 174);
    background-color: #D6EEEE;
    width: 400px;
  }
  nav{
    position:absolute;
    bottom:50px;
    left:50px
  }
  