<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<h1>User Account</h1>
<h5>Dashboard/Users</h5>
<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  </svg>
<table align="right" >
    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()"></div>
    <tr>
        <th>
        <select>
      <option>Full Name</option> </select>
    </th>
    
    
      <th>
        <select>
      <option>Email</option></select>
    </th>


    &nbsp;<th>
         <select>
            <option>Group</option>
         </select>
        </th>
    </tr>
   
    <div id="checkboxes">

        <label for="one">
      <td><input type="checkbox" id="one" /><a href=""  style="text-decoration:none;">Austen Paige</a></td>
      <td>paige@info.com</td>
      <td>Admin</td>
   <!---- </tr>-->
      <!--</label>-->

        <label for="two">
      <td><input type="checkbox" id="two" /><a href=""  style="text-decoration:none;">Jenni Lora</a></td>
      <td>jenni@info.com</td>
      <td>Registered</td>
    <!--</tr>-->
    
        <label for="three">
        <td><input type="checkbox" id="three" /><a href=""  style="text-decoration:none;">John Wick</a></td>
        <td>wick@info.com</td>
        <td>Registered</td>
     <!--</tr>-->
      
        <label for="four">
        <td><input type="checkbox" id="four" /><a href=""  style="text-decoration:none;">Vicky Nash</a></td>
        <td>vicky@info.com</td>
        <td>Admin</td>
      <!--</tr>-->
      
      
    
      <!--</tr>-->
    <!--</div>-->
  <!--</table>-->